#container {
    width: 100%; 
    max-width: 1200px; 
}

a {
    color: green;
}

.reports {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    

    .back-to-charts-button {
        background-color: #9c3; 
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #87afc4; 
        }
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 20px;

        button {
            width: 500px;
            height: 300px;
            margin-bottom: 20px;
            margin-right: 30px;
            margin-left: 40px;
            padding: 80px;
            font-size: 25px;
            background-color: #9c3;
            color: white;
            font-weight: 100;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #87afc4;
            }
        }
    }
}