.entry-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;


    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;

        &__button {
            width: 140px;
            color: #99cc33;
            background-color: #393e42;
            font-weight: 700;
            font-size: 1rem;
            border-radius: 0.2rem;
        }

        .responsive {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;

            @media (min-width: 760px) {
                flex-direction: row;
            }
        }

        &__first-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            margin: 1rem 0;

            &__input-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0 0.5rem;

                label {
                    margin-bottom: 0.5rem;
                }

                select {
                    min-width: 120px;
                    background-image:
                        linear-gradient(to right, #99cc33, #99cc33);
                    background-position:
                        100% 0;
                    background-size:
                        1.5em 1.5em;
                    background-repeat: no-repeat;
                }
            }
        }

        &__second-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin: 1rem 0;

            &__input-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0 0.5rem;

                label {
                    margin-bottom: 0.5rem;
                }

                &__time {
                    width: 120px;
                }

                &__comment {
                    width: 200px;

                    @media (min-width: 760px) {
                        width: 160px;
                    }
                }


            }
        }
    }


}