.attendance-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__status-bar {
        width: 320px;
        height: 200px;
        background-color: #99cc33;
        color: white;
        border: 2px solid;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: 0.5rem;

        &__group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 1rem;
            padding: 1rem;

            &__info {
                font-weight: 800;
                margin: 0.5rem;

                >span {
                    color: #393e42;
                    margin-left: 0.5rem;
                }
            }

            &__current-status {
                font-weight: 800;
                margin: 0.5rem;

                >span {
                    color: #393e42;

                    margin-left: 0.5rem;
                }
            }

            &__sum-working-time {
                font-weight: 800;
                margin: 0.5rem;

                >span {
                    color: #393e42;

                    margin-left: 0.5rem;
                }
            }

            &__sum-breaks {
                margin: 0.5rem;
                font-weight: 800;

                >span {
                    color: #393e42;

                    margin-left: 0.5rem;
                }
            }

        }
    }

    &__action-buttons {
        width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;
        font-weight: 800;

        &__clock {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__in {
                width: 140px;
                height: 60px;
                background-color: #99cc33;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                // border: #393e42 solid 2px;
                border-radius: 0.5rem;
                font-weight: 800;

                // >p {
                //     font-weight: 900;
                // }
            }

            &__out {
                width: 140px;
                height: 60px;
                background-color: #393e42;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                border: #99cc33 solid 2px;
                border-radius: 0.5rem;

                // >p {
                //     font-weight: 700;
                // }
            }

        }

        &__break {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;




            &__start {
                width: 140px;
                height: 60px;
                background-color: white;
                color: #393e42;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                border: #393e42 solid 2px;
                border-radius: 0.5rem;

                // >p {
                //     font-weight: 700;
                // }
            }

            &__stop {
                width: 140px;
                height: 60px;
                background-color: #393e42;
                color: #99cc33;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                border: #99cc33 solid 2px;
                border-radius: 0.5rem;

                // >p {
                //     font-weight: 700;
                // }
            }


        }

    }


}