.attendance-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__selection {
        margin: 1rem;
        min-height: 5vh;

        &__input {
            width: 140px;
            font-size: 1rem;
            font-weight: 800;
            border-radius: 0.2rem;
            background-image:
                linear-gradient(to right, #99cc33, #99cc33);
            background-position:
                100% 0;
            background-size:
                1.5em 1.5em;
            background-repeat: no-repeat;
        }
    }

    &__divform {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 700;
        align-items: center;
        margin: 0rem;
        color: #393e42;
        min-height: 20vh;
    }

    .center-button {
        text-align: center;
        margin: 1rem;
    }

    .form__button {
        width: 140px;
        font-size: 1rem;
        color: #99cc33;
        background-color: #393e42;
        font-weight: 700;
        border-radius: 0.2rem;
    }

    .form__row {
        text-align: center;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;

        @media (min-width: 760px) {
            flex-direction: row;
        }

        &__input-group {

            margin: 0.5rem;

            input {
                width: 140px;
                font-size: 1rem;
                font-weight: 600;
                color: #393e42;
                margin-left: 1rem;


            }
        }


    }

    select {
        margin-left: 0.5rem;
        width: 140px;
        font-size: 1rem;
        font-weight: 600;
        background-image:
            linear-gradient(to right, #99cc33, #99cc33);
        background-position:
            100% 0;
        background-size:
            1.5em 1.5em;
        background-repeat: no-repeat;
    }

    label {
        margin-left: 1rem;

    }

    &__list {
        background-color: #393e42;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 100vw;
        min-height: 20vh;
        align-items: center;
        border-bottom: 2px solid white;

        &__table {
            min-width: 280px;
            font-size: 1rem;
            color: #99cc33;
            border-collapse: collapse;

            @media (min-width: 760px) {
                min-width: 560px;
            }
        }

        th {
            background-color: #99cc33;
            color: white;
            border: 1px solid #99cc33;

            text-align: center;
        }

        td {
            background-color: white;
            color: #393e42;
            border: 1px solid #99cc33;

            text-align: center;
            padding: 0.5rem;

            button {
                background-color: #99cc33;
            }

            .button-icon {
                background-color: transparent;
                background-image: url(/public/svg/edit.svg);
                background-size: cover;
                color: transparent;
            }

        }

        .not-visible {
            background-color: transparent;
            border-color: transparent;
        }

    }
}