$new-user-background-color: #f4f4f4;
$button-hover-color: lighten(#9c3, 10%);
$border-color: #393e42;
$primary-green-color: #9c3;
$primary-grey-color: #393e42;
$white-color: #fff;

.reset-password-form {
    background-color: $new-user-background-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;

    h2 {
        color: $primary-grey-color;
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        display: block;
        width: 100%;
        padding: 1rem;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid $border-color;
        box-sizing: border-box;

        &:focus {
            border-color: $primary-green-color;
            outline: none;
        }
    }

    button {
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: $primary-green-color;
        color: $white-color;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: $button-hover-color;
            transform: translateY(-2px);
        }
    }
}
