@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <width>: Use a value from 75 to 100
// .open-sans-<uniquifier> {
//     font-family: "Open Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//         "wdth" <width>;
// }

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}