.footer {
    background-color: #393e42;
    color: white; 
    padding: 20px;
    text-align: center;
    width: 100%;
    .footer-content, .footer-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
  
      h3, p {
        margin: 10px;
      }
  
      a {
        color: white; 
        text-decoration: none; 
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-text {
        opacity: 0.5;
    }
  }

  @media (max-width: 500px) {
    .footer .footer-content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  